/* index.css是用来美化首页的 */
* {
    margin: 0;
    padding: 0;
    /* 内减模式 */
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth       ;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

.clearfix:before,.clearfix:after {
    content: "";
    display: table;
}
 .clearfix:after {
    clear: both;
 }

body {
    background-color: #f2f5faf5;
}

.container {
    position: relative;
}

/* 版心 */

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

/* 头部 */
.header {
    width: 100%;
    height: 80px;
    margin: 0, auto;
    background-color: #fff;
    display: flex;
    justify-content: center;
    box-shadow: inset 0 -1px 0 0 #e7eaef;
}

.header .header-wrapper {
    width: 1200px;
    height: 80px;
    margin: 0, auto;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: inset 0 -1px 0 0 #e7eaef;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
}
/* 导航 */
.nav {
    width: 270px;
    margin-left: 40px;
    height: 42px;
}

.nav .tool li {
    margin-right: 10px;
}

.nav .tool li a {
    display: block;
    padding: 0 5px;
    height: 42px;
    line-height: 42px;
    font-size: 20px;
    color: #050505;
}

.nav .tool li a:hover {
    color: #016bb9;
}

.nav .tool {
    display: flex;
    justify-content: space-between;
}

/* 搜索 */
.search {
    width: 230px;
    height: 40px;
    position: relative;
    border: 1px solid #016bb9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 18px;
}

.search input {
    position: absolute;
    top: 3px;
    left: 10px;
    padding-left: 20px;
    width: 170px;
    height: 33px;
    border: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    outline: none;
}

.search input:focus {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
}

.search .iconfont {
    position: absolute;
    left: 185px;
    line-height: 40px;
    font-size: 25px;
    vertical-align: middle;
}

/*控制placeholder的样式*/
.search input::placeholder {
    font-size: 14px;
    color: #bfbfbf;
}

.search button {
    font-size: 14px;
}

.search .result-list {
    display: none;
    width: 170px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    position: absolute;
    top: 38px;
    left: 10px;
    z-index: 5;
    border-radius: 5px;
    border: 1px solid #016bb9;
    
}

.past {
    color: #016bb9;
}

/* 用户 */
.user {
    margin-right: 10px;
    height: 42px;
    width: 150px;
    line-height: 42px;
}

.user img {
    /*调节图片竖直对齐方式*/
    vertical-align: middle;
}

/* 侧边栏 */
.sidebar {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 1400px;
    z-index: 10;
}

.sidebar .sidebar-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 180px;
    width: 40px;
    background-color: #fff;
    font-size: 16px;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.sidebar .sidebar-list li {
    border-bottom: 2px solid #e5e5e5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar .sidebar-list li:hover {
    color: #016bb9;
}

/* 通知栏 */

.right {
    margin-top: 50px;
    width: 228px;
    height: 300px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    z-index: 20;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 1150px;
    display: none;
    opacity: 0;
}

.right h2 {
    height: 48px;
    text-align: center;
    line-height: 48px;
    font-size: 18px;
    font-weight: 400;
    color: #4e4e4e;
    border-bottom: 2px solid #e5e5e5;
}

.right .content {
    padding: 0 18px;
}

.right .content dl {
    padding: 12px 0;
    border-bottom: 2px solid #e5e5e5;
}

.right .content dt {
    font-size: 14px;
    color: #4e4e4e;
}

.right .content dd {
    font-size: 12px;
    color: #4e4e4e;
}

.right .more {
    display: block;
    margin: 12px auto 0;
    width: 200px;
    height: 40px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    line-height: 40px;
    background-color: #016bb9;
    border-radius: 18px;
}

/* 标签栏 */
.marks {
    position: fixed;
    left: 30px;
    height: 100%;
    width: 250px;
    background-color: rgba(32,33,35,0.9);
    display: flex;
    justify-content: center;
}

.flex-l {
    position: absolute;
    left: 80px;
    top: 100px;
    width: 220px;
    height: 600px;
    z-index: 20;
    border: 1px solid #e5e5e5;
    border-radius: .375rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #000;
    background-color: #ffffffb0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.flex-pic {
    width: 150px;
    height: 70px;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #efefef;
}


.flex-pic img{
    width: 111.4px;
    height: 54.2px;
}

.classtable a{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 220px;
    height: 44px;
    font-size: 18px;
    font-weight: 500;
    color: #000;
} 

.classtable a:hover {
    background-color: #efefef;
}

.selfclass a {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 220px;
    height: 44px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    background-color: #016bb9;
}

.selfclass span {
    margin-left: 5px;
}

.classchoose {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 220px;
    height: 44px;
    font-size: 18px;
    font-weight: 500;
    padding-right: 5px;
}

.classchoose:hover {
    background-color: #efefef;
}

.classdiscuss a {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 220px;
    height: 44px;
    font-size: 18px;
    font-weight: 500;
    color: #000;
}

.classdiscuss a:hover {
    background-color: #efefef;
}

.class-fold {
    width: 170px;
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #efefef;
    color: #000;
    border-radius: 5px;
}

.classdiscuss-1 {
    width: 150px;
    height: 44px;
    font-size: 16px;
    font-weight: 500;
    text-align: right;
    margin-right: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 0;
}

.classdiscuss-2 {
    width: 150px;
    height: 44px;
    font-size: 16px;
    font-weight: 500;
    text-align: right;
    margin-right: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 0;
}

.classdiscuss-3 {
    width: 150px;
    height: 44px;
    font-size: 16px;
    font-weight: 500;
    text-align: right;
    margin-right: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 0;
}

/* 精品课程  */
.box {
    position: absolute;
    top: 130px;
    margin-left: 320px;
}

.box .title {
    height: 40px;
    width: 1080px;
}

.box .title h2 {
    float: left;
    font-size: 20px;
    color: #4e4e4e;
    font-weight: 400;
}

.box .title a {
    float: right;
    margin-top: 8px;
    margin-right: 30px;
    font-size: 12px;
    color: #a5a5a5;
}

.box .index-rank {
    width: 1050px;
    height: 500px;
    display: flex;
    justify-content: space-between;
}

.box .index-rank .popular {
    width: 340px;
    background-color: #fff;
    border-radius: 8px;
}

.box .index-rank .popular .popular-title {
    width: 100%;
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(1, 107, 185, 1);
    border-radius: 8px;
}

.popular-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 430px;
    width: 100%;
}

.popular-body .p-b-b {
    height: 63.3px;
    width: 100%;
    display: flex;
    position: relative;
}

.popular-body .p-b-b span {
    display: block;
    width: 20px;
    margin-left: 10px;
}

.popular-body .p-b-b img {
    width: 112px;
}

.ppl-tt-l {
    align-items: flex-end;
    font-size: 18px;
    font-weight: 600;
    color: #e6a96a;
    margin-left: 50px;
}

.ppl-tt-r {
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color: #fffefa;
    margin-right: 20px;
}

.box .index-rank .new {
    width: 340px;
    background-color: #fff;
    border-radius: 8px;
}

.box .index-rank .new .new-title {
    width: 100%;
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(1, 107, 185, 1);
    border-radius: 8px;
}

.new-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 430px;
    width: 100%;
}

.new-body .n-b-b {
    height: 63.3px;
    width: 100%;
    display: flex;
    position: relative;
}

.new-body .n-b-b span {
    display: block;
    width: 20px;
    margin-left: 10px;
}

.new-body .n-b-b img {
    width: 112px;
}

.n-tt-l {
    align-items: flex-end;
    font-size: 18px;
    font-weight: 600;
    color: #e6a96a;
    margin-left: 50px;
}

.n-tt-r {
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color: #fffefa;
    margin-right: 20px;
}

.box .index-rank .star {
    width: 340px;
    background-color: #fff;
    border-radius: 8px;
}

.box .index-rank .star .star-title {
    width: 100%;
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgba(1, 107, 185, 1);
    border-radius: 8px;
}

.star-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 430px;
    width: 100%;
}

.star-body .s-b-b {
    height: 63.3px;
    width: 100%;
    display: flex;
    position: relative;
}

.star-body .s-b-b span {
    display: block;
    width: 20px;
    margin-left: 10px;
}

.star-body .s-b-b img {
    width: 112px;
}

.st-tt-l {
    align-items: flex-end;
    font-size: 18px;
    font-weight: 600;
    color: #e6a96a;
    margin-left: 50px;
}

.st-tt-r {
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color: #fffefa;
    margin-right: 20px;
}

