/* index.css是用来美化首页的 */
* {
    margin: 0;
    padding: 0;
    /* 内减模式 */
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth       ;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000000;
}

.clearfix:before,.clearfix:after {
    content: "";
    display: table;
}
 .clearfix:after {
    clear: both;
 }

body {
    background-color: #f2f5faf5;
    height: 2250px;
}

.container {
    position: relative;
}

/* 版心 */

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

/* 头部 */
.header {
    width: 100%;
    height: 80px;
    margin: 0, auto;
    background-color: #fff;
    display: flex;
    justify-content: center;
    box-shadow: inset 0 -1px 0 0 #e7eaef;
}

.header .header-wrapper {
    width: 1200px;
    height: 80px;
    margin: 0, auto;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: inset 0 -1px 0 0 #e7eaef;
}

.header-h1 img {
    width: 214px;
    height: 56px;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
}
/* 导航 */
.nav {
    width: 270px;
    margin-left: 40px;
    height: 42px;
}

.nav .tool li {
    margin-right: 10px;
}

.nav .tool li a {
    display: block;
    padding: 0 5px;
    height: 42px;
    line-height: 42px;
    font-size: 20px;
    color: #050505;
}

.nav .tool li a:hover {
    color: #016bb9;
}

.nav .tool {
    display: flex;
    justify-content: space-between;
}

/* 搜索 */
.search {
    width: 230px;
    height: 40px;
    position: relative;
    border: 1px solid #016bb9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 18px;
}

.search input {
    position: absolute;
    top: 3px;
    left: 10px;
    padding-left: 20px;
    width: 170px;
    height: 33px;
    border: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    outline: none;
}

.search input:focus {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
}

.search .iconfont {
    position: absolute;
    left: 185px;
    line-height: 40px;
    font-size: 25px;
    vertical-align: middle;
}

/*控制placeholder的样式*/
.search input::placeholder {
    font-size: 14px;
    color: #bfbfbf;
}

.search button {
    font-size: 14px;
}

.search .result-list {
    display: none;
    width: 170px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    position: absolute;
    top: 38px;
    left: 10px;
    z-index: 5;
    border-radius: 5px;
    border: 1px solid #016bb9;
    
}

.past {
    color: #016bb9;
}

/* 用户 */
.user {
    margin-right: 10px;
    height: 42px;
    width: 150px;
    line-height: 42px;
}

.user img {
    /*调节图片竖直对齐方式*/
    vertical-align: middle;
}

/* 侧边栏 */
.sidebar {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 1400px;
    z-index: 10;
}

.sidebar .sidebar-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 180px;
    width: 40px;
    background-color: #fff;
    font-size: 16px;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.sidebar .sidebar-list li {
    border-bottom: 2px solid #e5e5e5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar .sidebar-list li:hover {
    color: #016bb9;
}

/* 通知栏 */

.right {
    margin-top: 50px;
    width: 228px;
    height: 300px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    z-index: 20;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 1150px;
    display: none;
    opacity: 0;
}

.right h2 {
    height: 48px;
    text-align: center;
    line-height: 48px;
    font-size: 18px;
    font-weight: 400;
    color: #4e4e4e;
    border-bottom: 2px solid #e5e5e5;
}

.right .content {
    padding: 0 18px;
}

.right .content dl {
    padding: 12px 0;
    border-bottom: 2px solid #e5e5e5;
}

.right .content dt {
    font-size: 14px;
    color: #4e4e4e;
}

.right .content dd {
    font-size: 12px;
    color: #4e4e4e;
}

.right .more {
    display: block;
    margin: 12px auto 0;
    width: 200px;
    height: 40px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    line-height: 40px;
    background-color: #016bb9;
    border-radius: 18px;
}

/* 标签栏 */

.flex-l {
    position: fixed;
    top: 80px;
    width: 220px;
    height: 665px;
    z-index: 20;
    border: 1px solid #e5e5e5;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    color: #000;
    background-color: #fff;
    box-shadow: inset 0 -1px 0 0 #e7eaef;
}

.flex-2 {
    height: 266px;
    width: 180px;
}

.flex-pic {
    width: 150px;
    height: 70px;
    display: flex;
    margin-top: 20px;
    justify-content: center;
    border-bottom: 2px solid #efefef;
}


.flex-pic img{
    width: 111.4px;
    height: 54.2px;
}

.classtitle {
    width: 180px;
    height: 56px;
    font-size: 16px;
    font-weight: 600;
    align-items: left;
    line-height: 56px;
    padding-left: 25px;
}

.classfront a{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 180px;
    height: 38px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    background-color: #0052d9;
    padding-right: 30px;
} 

.classtable a{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 180px;
    height: 38px;
    font-size: 16px;
    font-weight: 500;
    color: #000;
} 

.classtable a:hover {
    background-color: #efefef;
}

.selfclass a {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 180px;
    height: 38px;
    font-size: 16px;
    font-weight: 500;
    color: #000;
}

.selfclass a:hover {
    background-color: #efefef;
}

.selfclass span {
    margin-left: 5px;
}

.classchoose {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 180px;
    height: 38px;
    font-size: 16px;
    font-weight: 500;
    margin-right: 5px;
}

.classchoose:hover {
    background-color: #efefef;
}

.classdiscuss a {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 180px;
    height: 38px;
    font-size: 16px;
    font-weight: 500;
    color: #000;
}

.classdiscuss a:hover {
    background-color: #efefef;
}

.classdata a {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 180px;
    height: 38px;
    font-size: 16px;
    font-weight: 500;
    color: #000;
}

.classdata a:hover {
    background-color: #efefef;
}

.classsign a {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 180px;
    height: 38px;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    padding-right: 30px;
}

.classsign a:hover {
    background-color: #efefef;
}


/* 轮播图 */
.ban-bar {
    position: absolute;
    width: 1040px;
    height: 520px;
    top: 180px;
    left: 310px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(54,58,80,.32);
}

.banner {
    position: absolute;
    top: 50px;
    left: 40px;
    width: 960px;
    height: 420px;
    box-shadow: inset 0 -1px 0 0 #e7eaef;
}

.b-c {
    width: 960px;
    height: 420px;
}

.toggle button {
    width: 28px;
    height: 28px;
    appearance: none;
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    color: #000000;
    border-radius: 4px;
    cursor: pointer;
}

.toggle .prev {
    position: absolute;
    top: 50%;
    margin-left: 30px;
}

.toggle .next {
    position: absolute;
    top: 50%;
    right: 30px;
}

.toggle button:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

/* 区域讨论 */
.part-discuss {
    position: absolute;
    top: 740px;
    left: 1030px;
    width: 320px;
    height: 382.50px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(54,58,80,.32);
}

/* 区域个性化选择路线 */
.part-choose {
    position: absolute;
    top: 1160px;
    left: 310px;
    width: 700px;
    height: 500px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(54,58,80,.32);
}

/* 课程签到 */
.part-sign {
    position: absolute;
    top: 1160px;
    left: 1030px;
    width: 320px;
    height: 500px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(54,58,80,.32);
}

.sign-bar {
    position: absolute;
    top: 60px;
    left: 30px;
    width: 260px;
    height: 50px;
    border-bottom: 1px solid #cfd5de;
} 

.sign-bar1 {
    position: absolute;
    left: 10px;
    width: 120px;
    height: 50px;
    font-weight: 600;
    font-size: 14px;
    background-color: #fff;
    color: #000;
    line-height: 50px;
    border-bottom: 2px solid #0052d9;
    text-align: center;
}

.sign-bar2 {
    position: absolute;
    left: 140px;
    width: 120px;
    height: 49px;
    font-weight: 500;
    font-size: 14px;
    background-color: #fff;
    color: #000;
    line-height: 49px;
    text-align: center;
}

.face img {
    position: absolute;
    top: 150px;
    left: 40px;
    width: 100px;
    height: 100px;
}

.face-w {
    position: absolute;
    top: 150px;
    left: 160px;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 18px;
    font-weight: 600;
}

.sign1 img {
    position: absolute;
    top: 290px;
    left: 40px;
    width: 100px;
    height: 100px;
}

.sign1-w {
    position: absolute;
    top: 290px;
    left: 160px;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 18px;
    font-weight: 600;
}

/* 课程数据 */
.part-data {
    position: absolute;
    top: 1680px;
    left: 310px;
    width: 1040px;
    height: 500px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(54,58,80,.32);
}

/* 课表 */
.sch-bar {
    position: absolute;
    top: 740px;
    left: 310px;
    width: 700px;
    height: 382.50px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(54,58,80,.32);
}

.schtitle {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 70px;
    height: 21px;
    font-weight: 600;
    font-size: 14px;
}

.distitle {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 70px;
    height: 21px;
    font-weight: 600;
    font-size: 14px;
}

.chotitle {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 70px;
    height: 21px;
    font-weight: 600;
    font-size: 14px;
}

.sigtitle {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 70px;
    height: 21px;
    font-weight: 600;
    font-size: 14px;
}

.dattitle {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 70px;
    height: 21px;
    font-weight: 600;
    font-size: 14px;
}

.btn-1 {
    position: absolute;
    top: 60px;
    left: 20px;
    width: 90px;
    height: 30px;
    font-weight: 500;
    font-size: 14px;
    background-color: #0052d9;
    color: #fff;
    border: 0;
}

.btn-2 {
    position: absolute;
    top: 60px;
    left: 135px;
    width: 90px;
    height: 30px;
    font-weight: 500;
    font-size: 14px;
    background-color: #fff;
    color: #0052d9;
    border: 1px solid #cfd5de;
}

.sch-bar input {
    position: absolute;
    top: 60px;
    left: 400px;
    width: 160px;
    height: 30px;
    font-weight: 500;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #cfd5de;
    outline: none;
}

.sch-bar input:focus {
    border: 1px solid #0052d9;
}

.schedule {
    position: absolute;
    top: 100px;
    left: 20px;
    width: 652px;
    height: 262.50px;
    background-color: #fff;
    font-size: 12px;
    font-weight: 300;
}

table {
    width: 652px;
    height: 262.50px;
    border-collapse: collapse;
}

tbody {
    width: 652px;
    height: 262.50px;
}

tr:first-child {
    width: 652px;
    height: 43.75px;
    color: #bfbfbf;
}

th {
    border: 1px solid #cfd5de;
    width: 81.5px;
}

.cho-bar {
    position: absolute;
    top: 60px;
    left: 30px;
    width: 600px;
    height: 50px;
    border-bottom: 1px solid #cfd5de;
} 

.cho-bar1 {
    position: absolute;
    left: 10px;
    width: 120px;
    height: 50px;
    font-weight: 600;
    font-size: 14px;
    background-color: #fff;
    color: #000;
    line-height: 50px;
    border-bottom: 2px solid #0052d9;
    text-align: center;
}

.cho-bar2 {
    position: absolute;
    left: 160px;
    width: 120px;
    height: 49px;
    font-weight: 500;
    font-size: 14px;
    background-color: #fff;
    color: #000;
    line-height: 49px;
    text-align: center;
}

.cho-bar3 {
    position: absolute;
    left: 310px;
    width: 120px;
    height: 49px;
    font-weight: 500;
    font-size: 14px;
    background-color: #fff;
    color: #000;
    line-height: 49px;
    text-align: center;
}

.dat-bar {
    position: absolute;
    top: 60px;
    left: 30px;
    width: 800px;
    height: 50px;
    border-bottom: 1px solid #cfd5de;
} 

.dat-bar1 {
    position: absolute;
    left: 10px;
    width: 120px;
    height: 50px;
    font-weight: 600;
    font-size: 14px;
    background-color: #fff;
    color: #000;
    line-height: 50px;
    border-bottom: 2px solid #0052d9;
    text-align: center;
}

.dat-bar2 {
    position: absolute;
    left: 160px;
    width: 120px;
    height: 49px;
    font-weight: 500;
    font-size: 14px;
    background-color: #fff;
    color: #000;
    line-height: 49px;
    text-align: center;
}

.dat-bar3 {
    position: absolute;
    left: 310px;
    width: 120px;
    height: 49px;
    font-weight: 500;
    font-size: 14px;
    background-color: #fff;
    color: #000;
    line-height: 49px;
    text-align: center;
}

.dat-bar4 {
    position: absolute;
    left: 460px;
    width: 120px;
    height: 49px;
    font-weight: 500;
    font-size: 14px;
    background-color: #fff;
    color: #000;
    line-height: 49px;
    text-align: center;
}

.mainbar {
    position: absolute;
    top: 80px;
    left: 220px;
    width: 1242.4px;
    height: 50px;
    background-color: #fff;
}

.maintitle {
    position: absolute;
    left: 20px;
    width: 100px;
    height: 50px;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    line-height: 50px;
}

.mainmethod {
    position: absolute;
    right: 20px;
    width: 200px;
    height: 50px;
    color: #000;
    font-size: 14px;
    font-weight: 500;
    line-height: 50px;
}

.data1 img {
    position: absolute;
    top: 130px;
    left: 15px;
    width: 470px;
    height: 350px;
}

.data2 img {
    position: absolute;
    top: 130px;
    left: 520px;
    width: 470px;
    height: 350px;
}

.discusses img {
    position: absolute;
    top: 100px;
    left: 60px;
}

.root {
    position: absolute;
    top: 100px;
    left: 40px;
}