/* index.css是用来美化首页的 */
* {
    margin: 0;
    padding: 0;
    /* 内减模式 */
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth       ;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000000;
}

.clearfix:before,.clearfix:after {
    content: "";
    display: table;
}
 .clearfix:after {
    clear: both;
 }

body {
    background-color: #f2f5faf5;
}

.container {
    position: relative;
}

/* 版心 */

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

/* 头部 */
.header {
    width: 100%;
    height: 80px;
    margin: 0, auto;
    background-color: #fff;
    display: flex;
    justify-content: center;
    box-shadow: inset 0 -1px 0 0 #e7eaef;
}

.header .header-wrapper {
    width: 1200px;
    height: 80px;
    margin: 0, auto;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: inset 0 -1px 0 0 #e7eaef;
}

.header-h1 img {
    width: 214px;
    height: 56px;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
}
/* 导航 */
.nav {
    width: 270px;
    margin-left: 40px;
    height: 42px;
}

.nav .tool li {
    margin-right: 10px;
}

.nav .tool li a {
    display: block;
    padding: 0 5px;
    height: 42px;
    line-height: 42px;
    font-size: 20px;
    color: #050505;
}

.nav .tool li a:hover {
    color: #016bb9;
}

.nav .tool {
    display: flex;
    justify-content: space-between;
}

/* 搜索 */
.search {
    width: 230px;
    height: 40px;
    position: relative;
    border: 1px solid #016bb9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 18px;
}

.search input {
    position: absolute;
    top: 3px;
    left: 10px;
    padding-left: 20px;
    width: 170px;
    height: 33px;
    border: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    outline: none;
}

.search input:focus {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
}

.search .iconfont {
    position: absolute;
    left: 185px;
    line-height: 40px;
    font-size: 25px;
    vertical-align: middle;
}

/*控制placeholder的样式*/
.search input::placeholder {
    font-size: 14px;
    color: #bfbfbf;
}

.search button {
    font-size: 14px;
}

.search .result-list {
    display: none;
    width: 170px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    position: absolute;
    top: 38px;
    left: 10px;
    z-index: 5;
    border-radius: 5px;
    border: 1px solid #016bb9;
    
}

.past {
    color: #016bb9;
}

/* 用户 */
.user {
    margin-right: 10px;
    height: 42px;
    width: 150px;
    line-height: 42px;
}

.user img {
    /*调节图片竖直对齐方式*/
    vertical-align: middle;
}

/* 侧边栏 */
.sidebar {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 1400px;
    z-index: 10;
}

.sidebar .sidebar-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 180px;
    width: 40px;
    background-color: #fff;
    font-size: 16px;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.sidebar .sidebar-list li {
    border-bottom: 2px solid #e5e5e5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar .sidebar-list li:hover {
    color: #016bb9;
}

/* 轮播图 */
.banner {
    position: relative;
    height: 420px;
    background-color: #f2f5faf5;
    margin-top: 100px;
}

.banner .wrapper {
    height: 420px;
    position: relative;
    display: flex;
}

.banner .wrapper .cube {
    height: 420px;
    width: 1000px;
}

.banner .wrapper .cube img {
    width: 1200px;
    height: 504px;
}

/* 通知栏 */

.right {
    margin-top: 50px;
    width: 228px;
    height: 300px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    z-index: 20;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 1150px;
    display: none;
    opacity: 0;
}

.right h2 {
    height: 48px;
    text-align: center;
    line-height: 48px;
    font-size: 18px;
    font-weight: 400;
    color: #4e4e4e;
    border-bottom: 2px solid #e5e5e5;
}

.right .content {
    padding: 0 18px;
}

.right .content dl {
    padding: 12px 0;
    border-bottom: 2px solid #e5e5e5;
}

.right .content dt {
    font-size: 14px;
    color: #4e4e4e;
}

.right .content dd {
    font-size: 12px;
    color: #4e4e4e;
}

.right .more {
    display: block;
    margin: 12px auto 0;
    width: 200px;
    height: 40px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    line-height: 40px;
    background-color: #016bb9;
    border-radius: 18px;
}

.slider-indicator {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    position: relative;
    top: 90%;
}

.slider-indicator li {
    width: 8px;
    height: 8px;
    margin: 4px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.4;
    cursor: pointer;
}

.slider-indicator li.active {
    width: 12px;
    height: 12px;
    opacity: 1;
}

.toggle button {
    width: 28px;
    height: 28px;
    appearance: none;
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    color: #000000;
    border-radius: 4px;
    cursor: pointer;
}

.toggle .prev {
    position: absolute;
    top: 50%;
    margin-left: 30px;
}

.toggle .next {
    position: absolute;
    top: 50%;
    left: 1120px;
    margin-right: 30px;
}

.toggle button:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

/* 热门分类 */
.categories {
    height: 110px;
    margin-top: 30px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}

.categories .pp-cg img {
    width: 382.8px;
    height: 108px;
    border-radius: 8px;
}

/* 版权 */
.footer {
    margin-top: 47px;
    padding-top: 30px;
    height: 260px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}

.footer .left {
    margin-left: 50px;
    width: 450px;
    height: 250px;
}

.footer .left p {
    margin: 20px 0 10px;
    font-size: 12px;
}

.footer .left img {
    left: 50px;
    width: 300px;
    height: 80px;
}

.footer .f-right {
    width: 500px;
    height: 115px;
    display: flex;
    justify-content: space-around;
}

.footer .f-right .r-1 {
    width: 120px;
    height: 100px;
    display: flex;
    flex-direction: column;
}

.footer .f-right h4 {
    font-size: 16px;
    color: #cccccc;
}

.footer .f-right .f-size {
    font-size: 12px;
}

/* 文字介绍部分 */
.word-int {
    position: relative;
    top: 115px;
    height: 100px;
}

.word-int-1 {
    position: absolute;
    width: 1200px;
    height: 80px;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    line-height: 80px;
}

.word-int-2 {
    position: absolute;
    width: 1200px;
    top: 80px;
    height: 20px;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}

.word-int-2-1 {
    color: #666666;
    margin-right: 5px;
}

.word-int-2-2 {
    margin-left: 5px;
    color: #0773ff;
}

/* 分区图片展示 */
.show {
    margin-top: 145px;
}

.show-course {
    position: relative;
    width: 1200px;
    height: 600px;
    margin-top: 35px;
}

.show-user {
    position: relative;
    width: 1200px;
    height: 600px;
    margin-top: 35px;
}

.show-work {
    position: relative;
    width: 1200px;
    height: 600px;
    margin-top: 35px;
}

.show-lab {
    position: relative;
    width: 1200px;
    height: 600px;
    margin-top: 20px;
}

.words1 {
    position: absolute;
    top: 100px;
    left: 120px;
    width: 800px;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.title1 {
    font-size: 42px;
    font-weight: 600;
    height: 60px;
    width: 800px;
    line-height: 60px;
}

.para1 {
    height: 80px;
    width: 800px;
    font-size: 20px;
    font-weight: 400;
}

.btn1 {
    align-items: center;
    background-image: linear-gradient(-56deg,#0773ff 5%,#797eff);
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 20px;
    font-weight: 600;
    height: 50px;
    justify-content: center;
    letter-spacing: 0;
    line-height: 30px;
    margin-top: 20px;
    text-align: center;
    width: 152px;
}

.btn1 a {
    color: #fff;
}

.words2 {
    position: absolute;
    top: 260px;
    left: 260px;
    width: 800px;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.title2 {
    font-size: 42px;
    font-weight: 600;
    height: 60px;
    width: 800px;
    line-height: 60px;
}

.para2 {
    height: 80px;
    width: 800px;
    font-size: 20px;
    font-weight: 400;
}

.btn2 {
    align-items: center;
    background-image: linear-gradient(-56deg,#54d4f4 5%,#797eff);
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 20px;
    font-weight: 600;
    height: 50px;
    justify-content: center;
    letter-spacing: 0;
    line-height: 30px;
    margin-top: 20px;
    margin-left: 220px;
    text-align: center;
    width: 152px;
}

.btn2 a {
    color: #fff;
}

.words3 {
    position: absolute;
    top: 220px;
    left: 350px;
    width: 800px;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.title3 {
    font-size: 42px;
    font-weight: 600;
    height: 60px;
    width: 800px;
    line-height: 60px;
}

.para3 {
    height: 80px;
    width: 800px;
    font-size: 20px;
    font-weight: 400;
}

.btn3 {
    align-items: center;
    background-image: linear-gradient(-56deg,#54d4f4 5%,#f68dfa);
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 20px;
    font-weight: 600;
    height: 50px;
    justify-content: center;
    letter-spacing: 0;
    line-height: 30px;
    margin-top: 20px;
    margin-left: 100px;
    text-align: center;
    width: 152px;
}

.btn3 a {
    color: #fff;
}

.words4 {
    position: absolute;
    top: 200px;
    left: 300px;
    width: 800px;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.title4 {
    font-size: 42px;
    font-weight: 600;
    height: 60px;
    width: 800px;
    line-height: 60px;
}

.para4 {
    height: 80px;
    width: 800px;
    font-size: 20px;
    font-weight: 400;
}

.btn4 {
    align-items: center;
    background-image: linear-gradient(-56deg,#54d4f4 5%,#f68dfa);
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 20px;
    font-weight: 600;
    height: 50px;
    justify-content: center;
    letter-spacing: 0;
    line-height: 30px;
    margin-top: 20px;
    margin-left: 100px;
    text-align: center;
    width: 152px;
}

.btn4 a {
    color: #fff;
}