/* index.css是用来美化首页的 */
* {
    margin: 0;
    padding: 0;
    /* 内减模式 */
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth       ;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000000;
}

.clearfix:before,.clearfix:after {
    content: "";
    display: table;
}
 .clearfix:after {
    clear: both;
 }

body {
    background-color: #f2f5faf5;
    height: 745px;
}

.container {
    position: relative;
}

/* 版心 */

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

/* 头部 */
.header {
    width: 100%;
    height: 80px;
    margin: 0, auto;
    background-color: #fff;
    display: flex;
    justify-content: center;
    box-shadow: inset 0 -1px 0 0 #e7eaef;
    display: none;
}

.header .header-wrapper {
    width: 1200px;
    height: 80px;
    margin: 0, auto;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: inset 0 -1px 0 0 #e7eaef;
}

.header-demo {
    width: 100%;
    height: 42px;
    margin: 0, auto;
    background-color: #fff;
    box-shadow: inset 0 -1px 0 0 #e7eaef;
}

.header-demo img {
    width: 160.5px;
    height: 42px;
    position: absolute;
    left: 731.2px;
    transform: translateX(-50%);
}

.header-h1 img {
    width: 214px;
    height: 56px;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
}
/* 导航 */
.nav {
    width: 270px;
    margin-left: 40px;
    height: 42px;
}

.nav .tool li {
    margin-right: 10px;
}

.nav .tool li a {
    display: block;
    padding: 0 5px;
    height: 42px;
    line-height: 42px;
    font-size: 20px;
    color: #050505;
}

.nav .tool li a:hover {
    color: #016bb9;
}

.nav .tool {
    display: flex;
    justify-content: space-between;
}

/* 搜索 */
.search {
    width: 230px;
    height: 40px;
    position: relative;
    border: 1px solid #016bb9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 18px;
}

.search input {
    position: absolute;
    top: 3px;
    left: 10px;
    padding-left: 20px;
    width: 170px;
    height: 33px;
    border: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    outline: none;
}

.search input:focus {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
}

.search .iconfont {
    position: absolute;
    left: 185px;
    line-height: 40px;
    font-size: 25px;
    vertical-align: middle;
}

/*控制placeholder的样式*/
.search input::placeholder {
    font-size: 14px;
    color: #bfbfbf;
}

.search button {
    font-size: 14px;
}

.search .result-list {
    display: none;
    width: 170px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    position: absolute;
    top: 38px;
    left: 10px;
    z-index: 5;
    border-radius: 5px;
    border: 1px solid #016bb9;
    
}

.past {
    color: #016bb9;
}

/* 用户 */
.user {
    margin-right: 10px;
    height: 42px;
    width: 150px;
    line-height: 42px;
}

.user img {
    /*调节图片竖直对齐方式*/
    vertical-align: middle;
}

/* 功能区块 */
.file-parts {
    position: absolute;
    top: 55px;
    left: 5px;
    width: 380px;
    height: 220px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 2px 4px 0 rgba(54,58,80,.32);
}

.file1 {
    position: absolute;
    top: 52px;
    left: 2px;
    background-color: #157afb;
    height: 3px;
    width: 18px;
}

.file2 {
    position: absolute;
    top: 52px;
    left: 2px;
    background-color: #157afb;
    height: 18px;
    width: 3px;
}

.file3 {
    position: absolute;
    top: 52px;
    left: 370px;
    background-color: #157afb;
    height: 3px;
    width: 17px;
}

.file4 {
    position: absolute;
    top: 53px;
    left: 385px;
    background-color: #157afb;
    height: 17px;
    width: 3px;
}

.file5 {
    position: absolute;
    top: 260px;
    left: 2px;
    background-color: #157afb;
    height: 18px;
    width: 3px;
}

.file6 {
    position: absolute;
    top: 275px;
    left: 2px;
    background-color: #157afb;
    height: 3px;
    width: 18px;
}

.file7 {
    position: absolute;
    top: 260px;
    left: 385px;
    background-color: #157afb;
    height: 18px;
    width: 3px;
}

.file8 {
    position: absolute;
    top: 275px;
    left: 370px;
    background-color: #157afb;
    height: 3px;
    width: 18px;
}

.file-title {
    width: 100%;
    height: 50px;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    line-height: 50px;
    text-align: center;
}

.upload-label {
    position: absolute;
    top: 50px;
    left: 190px;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
}

.upload-label img {
    width: 100px;
    height: 100px;
}

.book-parts {
    position: absolute;
    top: 285px;
    left: 5px;
    width: 380px;
    height: 220px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(54,58,80,.32);
}

.history-parts {
    position: absolute;
    top: 515px;
    left: 5px;
    width: 380px;
    height: 220px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(54,58,80,.32);
}

.para-parts {
    position: absolute;
    top: 55px;
    right: 5px;
    width: 380px;
    height: 220px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(54,58,80,.32);
}

.progress-parts {
    position: absolute;
    top: 55px;
    left: 395px;
    width: 689px;
    height: 220px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(54,58,80,.32);
}

.result-parts {
    position: absolute;
    top: 285px;
    left: 395px;
    width: 689px;
    height: 450px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(54,58,80,.32);
}

.data-parts {
    position: absolute;
    top: 285px;
    right: 5px;
    width: 380px;
    height: 450px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(54,58,80,.32);
}

.upload-label {
    cursor: pointer;
    display: inline-block;
}

.upload-input {
    display: none;
}

#file-info {
    position: absolute;
    top: 180px;
    left: 120px;
    height: 30px;
    width: 140px;
    color: #000;
    text-align: center;
}

.progress {
    position: absolute;
    top: 110px;
    left: 40px;
    width: 300px;
    height: 10px;
    border: 1px solid black;
    position: relative;
}

.bar {
    background-color: #016bb9;
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.percent {
    position: absolute;
    right: 5px;
    top: 50%;
    font-size: 8px;
    transform: translateY(-50%);
}

.book-parts1 {
    position: absolute;
    width: 320px;
    height: 40px;
    top: 15px;
    left: 30px;
    background-color: #293957;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    line-height: 60px;
}

.book-parts2 {
    position: absolute;
    width: 320px;
    height: 40px;
    top: 90px;
    left: 30px;
    background-color: #0052d9;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    line-height: 60px;
}

.book-parts3 {
    position: absolute;
    width: 320px;
    height: 40px;
    top: 165px;
    left: 30px;
    background-color: #22c7cc;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    line-height: 60px;
}

.book1 {
    position: absolute;
    top: 282px;
    left: 2px;
    background-color: #157afb;
    height: 18px;
    width: 3px;
}

.book2 {
    position: absolute;
    top: 282px;
    left: 2px;
    background-color: #157afb;
    height: 3px;
    width: 18px;
}

.book3 {
    position: absolute;
    top: 282px;
    left: 385px;
    background-color: #157afb;
    height: 18px;
    width: 3px;
}

.book4 {
    position: absolute;
    top: 282px;
    left: 370px;
    background-color: #157afb;
    height: 3px;
    width: 18px;
}

.book5 {
    position: absolute;
    top: 490px;
    left: 2px;
    background-color: #157afb;
    height: 18px;
    width: 3px;
}

.book6 {
    position: absolute;
    top: 505px;
    left: 2px;
    background-color: #157afb;
    height: 3px;
    width: 18px;
}

.book7 {
    position: absolute;
    top: 490px;
    left: 385px;
    background-color: #157afb;
    height: 18px;
    width: 3px;
}

.book8 {
    position: absolute;
    top: 505px;
    left: 370px;
    background-color: #157afb;
    height: 3px;
    width: 18px;
}

table, th, td {
    border: 1px solid #d7dadff5;
    border-collapse: collapse;
    text-align: center;
    font-size: 12px;
}

th, td {
padding: 5px;
}

table {
margin-left: 20px;
width: 340px;
height: 180px;
}

.history-title {
    width: 100%;
    height: 35px;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    line-height: 35px;
    text-align: center;
}

.history1 {
    position: absolute;
    top: 512px;
    left: 2px;
    background-color: #157afb;
    height: 18px;
    width: 3px;
}

.history2 {
    position: absolute;
    top: 512px;
    left: 2px;
    background-color: #157afb;
    height: 3px;
    width: 18px;
}

.history3 {
    position: absolute;
    top: 512px;
    left: 385px;
    background-color: #157afb;
    height: 18px;
    width: 3px;
}

.history4 {
    position: absolute;
    top: 512px;
    left: 370px;
    background-color: #157afb;
    height: 3px;
    width: 18px;
}

.history5 {
    position: absolute;
    top: 720px;
    left: 2px;
    background-color: #157afb;
    height: 18px;
    width: 3px;
}

.history6 {
    position: absolute;
    top: 735px;
    left: 2px;
    background-color: #157afb;
    height: 3px;
    width: 18px;
}

.history7 {
    position: absolute;
    top: 720px;
    left: 385px;
    background-color: #157afb;
    height: 18px;
    width: 3px;
}

.history8 {
    position: absolute;
    top: 735px;
    left: 370px;
    background-color: #157afb;
    height: 3px;
    width: 18px;
}

.circle-container {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 25px;
    left: 100px;
}
  
#circle {
  border: 2px solid;
  border-radius: 50%;
  color: #0052d9;
}

  
#circle:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color, #f00);
    border-radius: 50%;
    transform-origin: 50% 100%;
    transform: rotate(calc(var(--rotate, 0deg) + 90deg));
}
  
#circle:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    border-radius: 50%;
    transform-origin: 50% 100%;
    transform: rotate(calc(var(--rotate, 0deg) + 270deg));
}
  
#percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
  
.circle-container1 {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 25px;
    right: 100px;
}
  
#circle1 {
  border: 2px solid;
  border-radius: 50%;
  color: #22c7cc;
}

  
#circle1:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color, #f00);
    border-radius: 50%;
    transform-origin: 50% 100%;
    transform: rotate(calc(var(--rotate, 0deg) + 90deg));
}
  
#circle1:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    border-radius: 50%;
    transform-origin: 50% 100%;
    transform: rotate(calc(var(--rotate, 0deg) + 270deg));
}
  
#percentage1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}  

.progress-title {
    width: 100%;
    height: 35px;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    line-height: 35px;
    text-align: center;
}

.progress-title2 {
    position: absolute;
    left: 73px;
    bottom: 5px;
    width: 200px;
    height: 35px;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    line-height: 35px;
    text-align: center;
}

.progress-title3 {
    position: absolute;
    right: 73px;
    bottom: 5px;
    width: 200px;
    height: 35px;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    line-height: 35px;
    text-align: center;
}
  
.slider {
    width: 50%;
    height: 10px;
    border-radius: 5px;
    background: #ccc;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }
