.container {
    width: 100%;
    height: 725px;
    display: flex;
}

/* 左半部分图形界面 */
.container .left {
    width: 50%;
    height: 100%;
    background-color: rgb(178, 204, 250);
    position: relative;
}

.container .left .left-top {
    width: 530px;
    height: 525px;
    background-color: #fff;
    border-radius: 20px 0 0 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2),
                0 -10px 10px rgba(0, 0, 0, 0.2),
                -10px 0 10px rgba(0, 0, 0, 0.2);
}


.container .left .left-top .left-wd {
    width: 140px;
    height: 50px;
    position: absolute;
    left: 40px;
    bottom: 70px;
    margin-bottom: 5px;
    font-size: 8px;
    text-align: center;
    color: #8f9296f5;
}

.container .left .left-top .left-btm {
    width: 130px;
    height: 30px;
    margin-top: 0;
    position: absolute;
    bottom: 35px;
    font-size: 14px;
    font-weight: 500;
    left: 45px;
    text-align: center;
    border: 1px solid #000000;
    border-radius: 8px;
    line-height: 30px;
}


/* 右半部分登录功能界面 */
.container .right {
    width: 50%;
    height: 100%;
    background-color: rgb(52, 66, 99);
    position: relative;
}

.container .right .right-panel {
    width: 530px;
    height: 525px;
    background-color: rgb(178, 204, 250);
    border-radius: 0 20px 20px 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2),
                0 -10px 10px rgba(0, 0, 0, 0.2),
                10px 0 10px rgba(0, 0, 0, 0.2),
                -10px 0 10px rgba(0, 0, 0, 0);
}

.container .right .right-panel::before {
    content: "";
    position: absolute;
    left: -10px; 
    top: 0;
    width: 10px; 
    height: 100%;
    background-color: white; 
  }

.container .right .right-panel .right-top {
    width: 380px;
    height: 475px;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.right-sign {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-sign img {
    width: 89.12px;
    height: 43.36px;
    margin-bottom: 10px;
}

.right-btn {
    display: flex;
    justify-content: center;
    width: 250px;
    height: 50px;
    margin-top: 10px;
}

h1 {
    display: block;
    width: 100%;
    height: 55px;
    text-align: center;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 0;
}

p {
    font-size: 16px;
}

input {
    border-radius: 5px;
    border-style: hidden;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    outline: none;
    border: #efefef;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 250px;
    height: 30px;
}

.right-code {
    display: flex;
    align-items: center;
    height: 70px;
}

.right-pic {
    width: 80px;
    height: 40px;
    background-color: #016bb9;
}

.right-code input {
    border-radius: 5px;
    border-style: hidden;
    margin-left: 40px;
    margin-top: 10px;
    margin-right: 20px;
    padding-left: 10px;
    outline: none;
    border: #efefef;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 180px;
    height: 30px;
}

input::placeholder {
    font-size: 14px;
    color: #bfbfbf;
}

button {
    border-radius: 5px;
    border-style: hidden;
    width: 250px;
    height: 50px;
    font-size: 16px;
    font-weight: 500;
    color: #8f9296f5;
    background-color: rgb(52, 66, 99);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.right-link {
    margin-top: 30px;
    width: 320px;
    display: flex;
    justify-content: space-between;
}

a {
    display: block;
    margin-top: 10px;
    width: 110px;
    height: 30px;
    font-size: 8px;
    color: #000000;
}

span {
    font-size: 8px;
    color: red;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}