.container {
    width: 100%;
    height: 725px;
    display: flex;
}

.container .left {
    width: 50%;
    height: 100%;
    background-color: rgb(178, 204, 250);
    position: relative;
}

.container .left .left-1 {
    width: 530px;
    height: 525px;
    background-color: #fff;
    border-radius: 20px 0 0 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2),
                0 -10px 10px rgba(0, 0, 0, 0.2),
                -10px 0 10px rgba(0, 0, 0, 0.2);
}

.container .left .left-1 .left-2 {
    width: 140px;
    height: 50px;
    position: absolute;
    left: 40px;
    bottom: 70px;
    margin-bottom: 5px;
    font-size: 8px;
    text-align: center;
    color: #8f9296f5;
}

.container .left .left-1 .left-3 {
    width: 130px;
    height: 30px;
    margin-top: 0;
    position: absolute;
    bottom: 35px;
    font-size: 14px;
    font-weight: 500;
    left: 45px;
    text-align: center;
    border: 1px solid #000000;
    border-radius: 8px;
    line-height: 30px;
}

.container .right {
    width: 50%;
    height: 100%;
    background-color: rgb(52, 66, 99);
    position: relative;
}

.container .right .right-1 {
    width: 530px;
    height: 525px;
    background-color: #fff;
    border-radius: 0 20px 20px 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2),
                0 -10px 10px rgba(0, 0, 0, 0.2),
                10px 0 10px rgba(0, 0, 0, 0.2),
                -10px 0 10px rgba(0, 0, 0, 0);
}

.container .right .right-1::before {
    content: "";
    position: absolute;
    left: -10px; 
    top: 0;
    width: 10px; 
    height: 100%;
    background-color: white; 
  }

.right-2 {
    width: 400px;
    height: 500px;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    z-index: 5;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.right-3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.right-3 img {
    width: 89.12px;
    height: 43.36px;
    margin-bottom: 10px;
}

.left-1 img {
    margin-left: 28.3px;
    margin-top: 27.6px;
    width: 473.4px;
    height: 469.8px;
}



.right-4 {
    display: flex;
    justify-content: center;
    width: 250px;
    height: 50px;
}

h1 {
    display: block;
    width: 100%;
    height: 55px;
    text-align: center;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 0;
}

p {
    font-size: 16px;
}

input {
    border-radius: 5px;
    border-style: hidden;
    margin-left: 10px;
    padding-left: 10px;
    outline: none;
    border: #efefef;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 300px;
    height: 30px;
}

input::placeholder {
    font-size: 14px;
    color: #bfbfbf;
}

button {
    border-radius: 5px;
    border-style: hidden;
    width: 250px;
    height: 50px;
    font-size: 16px;
    font-weight: 500;
    color: #8f9296f5;
    background-color: rgb(52, 66, 99);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.right-7 {
    margin-top: 10px;
    width: 320px;
    display: flex;
    justify-content: space-between;
}

a {
    display: block;
    margin-top: 10px;
    width: 110px;
    height: 30px;
    font-size: 8px;
    color: #000000;
}

span {
    height: 30px;
    font-size: 8px;
    color: red;
    line-height: 30px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message {
    width: 322px;
    height: 32px;
    display: flex;
}

.message input {
    border-radius: 5px;
    border-style: hidden;
    margin-left: 10px;
    padding-left: 10px;
    outline: none;
    border: #efefef;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 180px;
    height: 30px;
}

.message span {
    width: 80px;
}

.code {
    display: block;
    width: 120px;
    font-size: 13px;
    text-align: right;
    color: #016bb9;
    margin-top: 7.5px;
    text-decoration: none;
}