.container {
    width: 100%;
    height: 725px;
    display: flex;
}


/* 左半部分登录功能 */
.container .left {
    width: 50%;
    height: 100%;
    background-color: rgb(178, 204, 250);
    position: relative;
}

.container .left .left-top {
    width: 510px;
    height: 475px;
    background-color: #fff;
    border-radius: 20px 0 0 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2),
                0 -10px 10px rgba(0, 0, 0, 0.2),
                -10px 0 10px rgba(0, 0, 0, 0.2);
}

.left-title {
    width: 200px;
    height: 60px;
    position: absolute;
    left: 180px;
    top: 60px;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    color: #000000;
}

.left-log {
    position: absolute;
    left: 170px;
    top: 310px;
    width: 240px;
    height: 60px;
    background-color: rgb(178, 204, 250);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

img {
    position: absolute;
    left: 225px;
    top: 190px;
    width: 133.68px;
    height: 65.04px;
}

.container .left .left-top .left-wd {
    width: 140px;
    height: 50px;
    position: absolute;
    left: 220px;
    top: 130px;
    margin-bottom: 5px;
    font-size: 10px;
    text-align: center;
    color: #8f9296f5;
}

.container .left .left-top .left-btm {
    width: 130px;
    height: 30px;
    margin-top: 0;
    position: absolute;
    bottom: 35px;
    font-size: 14px;
    font-weight: 500;
    left: 45px;
    text-align: center;
    border: 1px solid #000000;
    border-radius: 8px;
    line-height: 30px;
}


/* 右半部分背景 */
.container .right {
    width: 50%;
    height: 100%;
    background-color: rgb(178, 204, 250);
    position: relative;
}

.container .right .right-top {
    width: 510px;
    height: 475px;
    background-color: #fff;
    border-radius: 0 20px 20px 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2),
                0 -10px 10px rgba(0, 0, 0, 0.2),
                10px 0 10px rgba(0, 0, 0, 0.2),
                -10px 0 10px rgba(0, 0, 0, 0);
}

.container .right .right-top::before {
    content: "";
    position: absolute;
    left: -10px; 
    top: 0;
    width: 10px; 
    height: 100%;
    background-color: white; 
  }

/* 中心部分注册功能 */
.cube {
    width: 400px;
    height: 600px;
    background-color: rgba(106, 127, 157);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    z-index: 5;
    position: fixed;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.cube-panel {
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.cube-btn {
    display: flex;
    justify-content: center;
    width: 250px;
    height: 50px;
}

h1 {
    display: block;
    width: 100%;
    height: 55px;
    text-align: center;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 0;
}

p {
    font-size: 16px;
}

input {
    border-radius: 5px;
    border-style: hidden;
    margin-left: 10px;
    padding-left: 10px;
    outline: none;
    border: #efefef;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 300px;
    height: 30px;
}

input::placeholder {
    font-size: 14px;
    color: #bfbfbf;
}

button {
    border-radius: 5px;
    border-style: hidden;
    width: 250px;
    height: 50px;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

a {
    margin-left: 30px;
    margin-top: 15px;
    display: block;
    height: 30px;
    font-size: 20px;
    font-weight: 500;
    color: #000000;
    text-decoration: none;
}

span {
    height: 30px;
    font-size: 8px;
    color: red;
    line-height: 30px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message {
    width: 322px;
    height: 32px;
    display: flex;
}

.message input {
    border-radius: 5px;
    border-style: hidden;
    margin-left: 10px;
    padding-left: 10px;
    outline: none;
    border: #efefef;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 180px;
    height: 30px;
}

.message span {
    width: 80px;
}

.code {
    display: block;
    width: 110px;
    font-size: 13px;
    text-align: right;
    color: #fff;
    margin-left: 5px;
    margin-top: 7.5px;
    text-decoration: none;
}